
h1 {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    background-color: darkgray;
}
/* h2 {
    text-align: center;
    font-weight: 400;
    background-color: lightgray;
} */

.overbudget {
  background-color: red;
}
h3 {
  text-align: right;
}

table {
  background-color: rgb(228, 228, 228);
}

td, th {
  border: 1px solid rgb(145, 145, 145);
  padding: 0.5rem;
}

deleteButton{
  size: 30px;
}